.DS_Store
.project
.buildpath
.settings/*
.idea
.DS_Store/*
.project/*
.idea/*
log/*
cache/*
*.sublime-project
*.sublime-workspace
.tags
.tags_sorted_by_file
config/databases.yml
web/uploads/*
web/.htaccess
config/databases.yml
